/* Write your CSS here */
.tab-items {
  margin-right: 22px;
  margin-left: 16px;
  cursor: pointer;
  outline: none;
}

.style-hr {
  color: #2563eb;
}
.tab-items-hr {
  border: solid;
  color: #2563eb;
}
